div.topBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

div.topBox a {
  display: inline-block;
  margin-right: 2rem;
}

div.topBox h1 {
  font-size: 2.3rem;
}

div.sectionWrapper {
  padding: 20px;
}

section.termsBox {
  margin-bottom: 3rem;
}

section.termsBox h2 {
  padding: 10px 0;
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 5px solid #6F8AA9;
}

section.termsBox section.innerSection {
  padding: 10px;
}

section.termsBox h3 {
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

section.termsBox p.main {
  padding-left: 1rem;
  line-height: 1.6rem;
}

section.termsBox p.item {
  padding-left: 1rem;
  line-height: 2rem;
  font-weight: bold;
}

section.termsBox a {
  display: inline-block;
  margin: 20px 0;
  color: #0000EE;
  text-decoration: underline;
}
